.search-result {
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 2rem;
    color: black;
    background-color: white;

    p {
        font-size: 1.5rem;
        font-weight: bold;
        color: black;
        margin-bottom: 1.25rem;
    }

    .search-selected-city {
        color: #ff295e;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;

    }

    .search-list-city {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-size: 1.125rem;
            color: #000000;
            background-color: #ffffff;
            padding: .625rem 1.25rem;
            border-radius: .625rem;

            &:hover {
                background-color: #f5f9ee;
            }
        }

    }

}

@media only screen and (max-width: 576px) {
    .search-result {
        p {
            font-size: 1.125rem;
        }

        .search-selected-city {
            font-size: 1rem;

        }

        .search-list-city {
            li {
                font-size: 1rem;
            }
        }
    }
}