li {
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;

    &:hover,
    &.selected {
        background-color: #f0f0f0;
    }

    .icon {
        margin-right: 8px;
    }
}