    .suggestion-box {
        background-color: rgb(255, 255, 255);
        border: 1px solid #ccc;
        border-radius: 1rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        list-style: none;
        margin-top: 8px;
        max-height: 200px;
        overflow-y: auto;
        padding: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 200px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .inner-suggestion-box {
            background-color: rgb(91, 69, 179);
            height: 100%;
            padding: 20px;
        }

        .hand-avatar {
            margin-right: 10px;
        }

        .close-btn {
            background: transparent;
            border: none;
            cursor: pointer;
        }

        .suggestion-words {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
        }

        .word {
            color: white;
            border: 1px solid white;
            padding: 5px 20px;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 20px;
        }
    }