.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    padding: 0 1.5rem;
    margin: 0 auto;
    min-height: 3.5rem;
    z-index: 999;

    input {
        border: none;
        outline: none;
        flex-grow: 1;
        padding-right: 40px;

        &:focus {
            border: 2px solid black;
            border-radius: 2rem;
            padding: 1rem;
            margin-left: -1.2rem;
        }
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0.5rem;
        position: absolute;
        right: 0;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.98214 2.55966C4.10066 2.55966 2.55688 4.10511 2.55688 5.98864C2.55688 6.3267 2.84634 6.61648 3.18404 6.61648C3.52174 6.61648 3.8112 6.3267 3.8112 5.98864C3.8112 4.78125 4.77606 3.81534 5.98214 3.81534C6.31984 3.81534 6.6093 3.52557 6.6093 3.1875C6.6093 2.84943 6.31984 2.55966 5.98214 2.55966ZM16.7886 15.9375L12.0608 11.2045C13.0739 9.99716 13.6045 8.4517 13.6045 6.85795C13.6045 5.02273 12.8809 3.33239 11.6266 2.02841C10.3723 0.724432 8.63551 0 6.80227 0C4.96904 0 3.28053 0.724432 1.97797 1.98011C0.723646 3.28409 0 5.02273 0 6.80966C0 8.59659 0.723646 10.3352 1.97797 11.6392C3.28053 12.9432 4.96904 13.6193 6.80227 13.6193C8.39429 13.6193 9.93807 13.0881 11.1441 12.0739L15.872 16.8068C16.0167 16.9517 16.1614 17 16.3062 17C16.4509 17 16.6439 16.9517 16.7403 16.8068C17.078 16.5653 17.078 16.179 16.7886 15.9375ZM10.7582 10.7699C8.58727 12.9432 5.06552 12.9432 2.89458 10.7699C1.83324 9.70739 1.25432 8.30682 1.25432 6.85795C1.25432 5.3608 1.83324 3.96023 2.89458 2.94602C3.95593 1.93182 5.35498 1.30398 6.80227 1.30398C8.29781 1.30398 9.69686 1.88352 10.71 2.94602C11.7713 4.00852 12.3502 5.40909 12.3502 6.85795C12.3502 8.30682 11.7713 9.70739 10.7582 10.7699Z' fill='%230C131F'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px;
        background-color: rgb(124, 207, 231);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 1.78rem;
    }
}

.search-bar.at-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-top: 2rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.5);
    backdrop-filter: blur(5px);

    display: none;

}

.overlay.visible {
    display: block;
}

@media only screen and (max-width: 768px) {
    .search-bar {
        min-height: 3rem;
        padding: 0 0.5rem;
        font-size: 0.8rem;

        input {
            padding-right: 30px;
            &:focus {
                padding: 0.7rem;
                margin-left: -0.2rem;
            }
        }
    }


    .search-bar button {
        padding: 1.5rem;
    }

    .search-bar.at-top {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 576px) {
    .search-bar {
        min-height: 3rem;
        padding: 0 0.5rem;
        font-size: 0.7rem;
    }

    .search-bar input {
        padding-right: 25px;
        &:focus {
            padding: 0.8rem;
            margin-left: -0.4rem;
        }
    }

    .search-bar button {
        padding: 1.5rem;
    }

    .search-bar.at-top {
        margin-top: 0.5rem;
    }
}